
@import "../../../styles/shared.sass"

.settingsContainer
    @extend %shared-card
    display: flex
    flex-direction: column
    text-align: start
    justify-content: center

    select
        @extend %shared-select

    

