@import "../../../styles/shared.sass"

.displayContainer
  @extend %shared-card
  
  display: flex
  flex-direction: column
  align-items: center
  text-align: center 
  justify-content: center

  .displayGadgets
    display: inherit
    flex-direction: inherit
    text-align: start

    





