.container 
    display: grid
    grid-template-columns: 1fr 1fr
    width: 90% 
    max-width: 800px 
    min-height: 200px
    padding: 10px 
    border-radius: 20px    
    background-color: lightblue

    @media screen and (max-width: 610px)
        grid-template-columns: 1fr 